<!-- app/views/shared/_table.html.erb -->
<table>
  <thead>
    <tr>
      <th>個体ID</th>
      <th>動物種</th>
      <th>部位</th>
      <th>状態</th>
      <th>捕獲日</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    
  </tbody>
</table>
